/*----------Main---------- */
html,body{
    margin: 0;
    font-family:'Nunito', sans-serif;
}

/*----------Nav------------*/

.movie-nav{
background-color: #ed4435;
height: 100px;
}

nav a .seenimage {
    margin-top: 15%;
}

#nav{
    margin-top: 2.5%;
}


nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 15pt;
    font-weight: bold;
    margin-left: 4%;
    float: left;
}


.selected  {
    border-bottom-style: solid;
}



.movie-nav li, ul {
    display: inline;
    cursor: pointer;
}

.form-control{
    outline: 0;
    border:0;
    border-bottom: 2px solid #fff;
    background: transparent;
    float: right;
    margin-right: 60px;
    width: 20%;
    color: #ffffff;
    font-size: medium;
    margin-top: 55px;
}

.form-control-content{
    outline: 0;
    border-width: 0 0 2px;
    border-color: #fff;
    background-color: #ed4435;
    float: right;
    margin-top: 70px;
    margin-right: 50px;
    width: 20%;
    color: #ffffff;
    font-size: medium;
    margin-top: 60px;
}

.seenimage {
    width: 3em;
    height: 3em;
    float: left;
    margin-right: 3em;
}

.btn-primary{
    float: right;
    margin-right: 3%;
    margin-top: 2.5%;
    border: none;
    background-color: #ed4435 ;
    color: #fff;
    float: center;
    font-size: larger;
    cursor: pointer;
}

/* add button on the poster */

.delete-btn{
    position: absolute;
    right: 75px;
    background-color: #ed4435;
    border: none;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    color: #fff;
    top: -8px;
    cursor: pointer;
}

.grid{
    float: left;
    width: 100%;
}



/*----------Search card------------*/



#card{
    margin-left: 1em;
}

#movie-poster-search{
    float: left;
    margin-left: 4em;
    margin-top: 2em;

}

.card-body{
    float: center;
    margin-left: 500px;
    margin-top: 5%;
    font-size: large;
    max-width: 60%;
}


.card-title{
    font-size: 1.5em;
}


#options{
    background-color: none;
    color: #ed4435;
    border: 1px solid#343434 ;
    border-radius: 2em;
    width: 12%;
    float: center;
}


.btnAdd{
    width: 200px;
    height: 35px;
    margin-top: 10px;
    border-radius: 100px;
    border-color: #ed4435;
    background-color: #ed4435 ;
    color: #fff;
    border-width: 1px;
    float: center;
    font-size: larger;
    cursor: pointer;
}


#message{
    font-weight: 500;
    float: center;
    margin-left: 600px;
    margin-top: 400px;
}


.movie-poster-image {   
    height: 180px;
    position: relative;
}




.movies-grid{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 300px;
}

.NotSeen-grid{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 300px;
}

.grid-item{
    position: relative;
    margin-bottom: 0px;
}





/*----------Poster Animation------------*/

#movie-poster-search:hover{
    animation-name: poster-animation;
    animation-duration: 2s;
    animation-fill-mode: both;
    transition-timing-function: ease-in;

}

@keyframes poster-animation {
    0% {
        transform:  scale(1);
    }
    100%{
        transform:  scale(1.2);
    }
}

/*----------Poster Animation Delete------------*/
/* #list-poster :hover{
    animation: shake;
} */



.animate {
    animation-name: shake;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
}



@keyframes shake{
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 0px) rotate(0deg); }
    70% { transform: translate(3px, 2px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(-1px, 2px) rotate(0deg); }
    100% { transform: translate(-3px, 0px) rotate(-1deg); }
  }


/*----------Filter------------*/

.filter-title{
    float: left;
    margin:0;
    padding-left: 100px;
    padding-top: 70px;
}


#filter-sort{
    float: left;
    margin-top: 1%;
    margin-left: 1em;
}

#filter{
    float: left;
    margin-top: 1%;
    margin-left: 1em;
}

#btnFilter{
    width: 7%;
    height: 25px;
    margin-top: 83px;
    margin-left: 10px;
    border-radius: 100px;
    border-color: #ed4435;
    background-color: #ed4435 ;
    color: #fff;
    border-width: 1px;
    float: center;
    font-size: larger;
    cursor: pointer;
    float: left;
}

/*----------Edit------------*/


#edit-txt{
    float: left;
    margin-top: 83px;
    margin-left:46%;
}

#edit-txt-not{
    float: left;
    margin-top: 83px;
    margin-left:44%;

}

#edit {
    float: right;
    margin-right: 5%;
    margin-top: 4.3%;
    cursor: pointer;
    position: relative;
}

#ok_button{
    float: right;
    margin-top: 4.3%;
    cursor: pointer;
    position: absolute;
    margin-left: 1.6%;
}

.ok_button_not{
    margin-left: 1.8%;
}

#txt-score{
    float: left;
    margin-left: 15%;
    margin-top: -2.2%;
    
}

#score-options{
    background-color: #ed4435;
    color: #fff;
    border: none;
    border-radius: 100px;
    float: left;
    margin-left: 1%;
    margin-top: -1.8%;
}

hr{
    margin: 2em;
    margin-left: 0;
    float: center;
}

#ster{
    float: left;
    position: absolute;
    margin-top: 135px;
    left: 30%;
}

select#options-score{
    float: left;
    position: absolute;
    left: 35%;
    top: 147px;
    color: #fff;
    font-size: medium;
    background: none;
    border: none;
    cursor: pointer;
    /* Delete the arrow in de dropdown options */
    -webkit-appearance: none;
}

select#filter{
    background: none;
    font-family:'Nunito';
    font-size: medium;
    margin-top: 83px;
    border-radius: 100px;
    width: 5%;
    text-align: center;
    color: #ed4435;
}

select#filter-sort{
    background: none;
    font-family:'Nunito';
    font-size: medium;
    margin-top: 83px;
    border-radius: 100px;
    width: 6%;
    text-align: center;
    color: #ed4435;
}

.filter-title{
    font-size: larger;
    margin-top: 13px;
}

.title1{
    font-size: 80px;
    float: left;
    margin-left: 1em;
    color: #ed4435;
    float: left;
}

#not-score{
    display: none;
}








