/*----------Main---------- */
html,body{
    margin: 0;
    font-family:'Nunito', sans-serif;
}

/*----------Nav------------*/

.movie-nav{
background-color: #ed4435;
height: 170px;
}

a #nav{
    margin-top: 30%;
}

nav a {
    margin-top: 3.5%;
    color: #ffffff;
    text-decoration: none;
    font-size: 15pt;
    font-weight: bold;
    margin-left: 4%;
    float: left;
}


.selected {
    border-bottom-style: solid;
}

.movie-nav li, ul {
    display: inline;
    cursor: pointer;
}

.seenimage{
    margin-left: 30px;
    margin-top: 50px;
}

.form-control{
    outline: 0;
    border:0;
    border-bottom: 2px solid #fff;
    background: transparent;
    float: right;
    margin-right: 60px;
    width: 20%;
    color: #ffffff;
    font-size: medium;
    margin-top: 70px;
}

.form-control-content{
    outline: 0;
    border-width: 0 0 2px;
    border-color: #fff;
    background-color: #ed4435;
    float: right;
    margin-top: 70px;
    margin-right: 50px;
    width: 20%;
    color: #ffffff;
    font-size: medium;
    margin-top: 60px;
}

.seenimage {
    width: 3em;
    height: 3em;
    float: left;
    margin-right: 3em;
}

.btn-primary{
    float: right;
    margin-right: 3%;
    margin-top: 3.5%;
    border: none;
    background-color: #ed4435 ;
    color: #fff;
    float: center;
    font-size: larger;
    cursor: pointer;
}

/* add button on the poster */

.delete-btn{
    position: absolute;
    right: 75px;
    background-color: #ed4435;
    border: none;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    color: #fff;
    top: -8px;
    cursor: pointer;
}

.grid{
    float: left;
    width: 100%;
}



/*----------Search card------------*/

.title1{
    margin-left: 1em;
    font-size: 30px;
    color: #ed4435;
    float: left;
}

#card{
    margin-left: 1em;
}

#movie-poster-search{
    float: left;
    margin-left: 2em;
    margin-top: 2em;

}

.card-body{
    float: center;
    margin-left: 500px;
    margin-top: 5%;
    font-size: large;
    max-width: 60%;
}


.card-title{
    font-size: 1.5em;
}


#options{
    background-color: none;
    color: #ed4435;
    border: 1px solid#343434 ;
    border-radius: 2em;
    width: 12%;
}


.btnAdd{
    width: 200px;
    height: 35px;
    margin-top: 10px;
    border-radius: 100px;
    border-color: #ed4435;
    background-color: #ed4435 ;
    color: #fff;
    border-width: 1px;
    float: center;
    font-size: larger;
    cursor: pointer;
}


#message{
    font-weight: 500;
    float: center;
    margin-left: 600px;
    margin-top: 300px;
}


.movie-poster-image {   
    height: 180px;
}

/* #movies{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    margin-top: 1%;
    margin-right: 4%;
    justify-content: space-evenly;
    float: left;
} */


.movies-grid{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 250px;
}

.NotSeen-grid{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 250px;
}

.grid-item{
    position: relative;
    margin-bottom: 20px;
}





/*----------Poster Animation------------*/

#movie-poster-search:hover{
    animation-name: movie-animation;
    animation-duration: 2s;
    animation-fill-mode: both;
    transition-timing-function: ease-in;

}

@keyframes movie-animation {
    0% {
        transform: perspective(400px) rotateY(8deg) scale(1);
    }
    20% {
        transform: perspective(400px) rotateY(-13deg) scale(1.1);
    }
    100%{
        transform: perspective(400px) rotateY(0deg) scale(1.2);
    }
}

/*----------Filter------------*/

.filter-title{
    float: left;
    margin-left: 8%;
}


#filter{
    float: left;
    margin-top: 1%;
    margin-left: 1em;
}

#btnFilter{
    width: 70px;
    height: 25px;
    margin-top: 15px;
    margin-left: 10px;
    border-radius: 100px;
    border-color: #ed4435;
    background-color: #ed4435 ;
    color: #fff;
    border-width: 1px;
    float: center;
    font-size: larger;
    cursor: pointer;
}

/*----------Edit------------*/


#edit-txt{
    float: left;
    margin-left: 70%;
    margin-top: 2.1%;
}

#edit {
    float: right;
    margin-right: 6%;
    margin-top: 1.8%;
    cursor: pointer;
    position: relative;
}

#ok_button{
    float: right;
    margin-top: 1.8%;
    cursor: pointer;
    position: absolute;
    margin-left: 0.8%;
}